@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-secundaria: #d62828;
    --cor-fundo: #003049;
    --cor-fundo-paragrafo: #eae2b7;
    --cor-fundo-box: #344459;
    --cor-fonte-1: #f5f5f5;
    --cor-titulo: #fcbf49;
    --cor-fonte-links: #ececec;
    --cor-fonte-link-home: #f77f00; 
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Source Code Pro', monospace;
}
.principal{
    background: linear-gradient(45deg, #003049,#d62828);
    color: var(--cor-fonte-1);
}

.cabeçalho{
    padding: 2% 0% 2% 0%;
    border-bottom: solid;
    margin: 0% 0% 0% 20.8%;
    border-color: #0d256e;
    border-width: 1px;
    
}

.cabeçalho__menu{
    display: flex;
    gap: 80px; 
    align-items: center;
}

.cabeçalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-fonte-links);
    text-decoration: none;
    
}
.cabeçalho__menu__link:hover{
    color: var(--cor-fundo);
}
.cabeçalho__menu__home{
    display: flex;
    margin: 0% 40% 0% 0%;
}
.cabeçalho__menu__home__button{
    font-size: 28px;
    font-weight: 800;
    font-family: var(--fonte-primaria);
    text-decoration: none;
    color: var(--cor-fonte-link-home);
    background-color: #0a1638;
    padding: 15% 17% 15% 17%;
    border-radius: 12%;
}
.cabeçalho__menu__home__button:hover{
    background-color: #203163;
    color: #f8cfa2;
}
.home_principal{
    padding: 5% 25% 5% 2%;
    display: flex;
    align-items: center;
}
.conteudo-titulo-home{
    display: flex;
    flex-direction: column;
    padding: 5% 5% 2% 28%;
}
.titulo-home{
    color: var(--cor-titulo);
    font-family: var(--fonte-secundaria);
    font-size: 2,8rem;
    font-weight: 600;
    gap: 20px;
}
.introdução-home{
    color: var(--cor-fonte-1);
    font-family: var(--fonte-primaria);
    font-size: 28px;
    font-weight: 600;
}
.links-corpo-home{
    color: var(--cor-fonte-link-home);
    font-weight: 800;
    text-decoration: none;
}
.links-corpo-home:hover{
    color: var(--cor-fundo);
}
.foto-minha{
    border: solid;
    border-color: var(--cor-fonte-links);   
    border-width: 5px;
    border-radius: 5%;
    width: 30%;
}
.strong-nome{
    color: var(--cor-fundo-paragrafo);
    font-weight: 800;
}
.conteudo-principal{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--cor-fonte-1);
}

.conteudo-titulo{
    display: flex;
    background-color: #1a2953;
    align-items: center;
    padding: 2%;
    margin: 2%;
    font-family: var(--fonte-secundaria);
    font-size: 42px;
    color: var(--cor-fonte-1);
}
.subtitulo-geral{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    font-size: 32px;
    padding: 2%;
    border-bottom: solid;
    border-top: solid;
    border-width: 1px;
}
.foto-do-zk{
    margin: 5%;
    padding: 0%;
    width: 40%;
    border-radius: 4%;
    border-width: 4px;
    border-style: solid;
    border-color: var(--cor-secundaria);
}

.paragrafos-titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 4% 15% 4% 15%;
    margin: 0% 13% 0 13%;
    font-family: var(--fonte-primaria);
    font-size: 24px;
    
}
.links-corpo{
    color: var(--cor-fonte-link-home);
    font-weight: 800;
    text-decoration: none;
}
.links-corpo:hover{
    color: var(--cor-fundo);
}

.conteudo-paragrafo-titulo{
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-family: var(--fonte-primaria);
}
.subtitulo-lista{
    border-width: 5px;
    border-style: solid;
    border-color: var(--cor-fonte-links);
    background-color: var(--cor-fundo-paragrafo);
    margin: 0% 18% 2% 18%;
    font-family: var(--fonte-secundaria);
    padding: 2% 10% 2% 10%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
}
.conteudo-paragrafo{
    color: var(--cor-fundo);
    font-family: var(--fonte-primaria);
}
.conteudo-subtitulo{
    color: var(--cor-fundo);
}
.Gau-principal{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--cor-fonte-1);
}
.conteudo-titulo-gau{
    display: flex;
    align-items: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    color: var(--cor-fonte-1);
}
.conteudo-paragrafo-titulo-gau{
    display: flex;
    padding: 0% 10% 0% 10%;
    margin: 0%;
    flex-direction: column;
    font-family: var(--fonte-primaria);
}
.subtitulo-geral-gau{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    padding: 2%;
    border-bottom: solid;
    border-top: solid;
    border-width: 1px;
}
.foto-do-gau{
    margin: 5% 5% 5% 5%;
    padding: 0;
    width: 50%;
    border-radius: 4%;
    border-width: 4px;
    border-style: solid;
    border-color: var(--cor-secundaria);
}




.rodape{
    display: flex;
    font-family: var(--fonte-secundaria);
    font-size: 18px;
    font-weight: 800;
    padding: 2%;
    background-color: var(--cor-fundo-box);
    justify-content: center;
}